<div (mouseleave)="productActive = false" (mouseover)="productActive = true"
  class="hover:scale-95 relative bg-white border border-gray-200 rounded-lg shadow-lg transition-shadow duration-300">
  <img [src]="product.imageUrl || 'https://via.placeholder.com/300x300'" alt="Product Image" class="rounded-t-lg w-full h-64 object-cover">
  <div class="p-4">
    <h2 class="text-lg font-semibold text-gray-800">{{product.name}}</h2>
    <p class="text-gray-600 mt-2">{{product.price | currency:'USD': '$'}}</p>
    @if (productActive) {
    <div class="absolute inset-0 flex flex-col gap-2 items-center justify-center bg-black bg-opacity-30 text-white">
      <app-button>
        Add to Cart
      </app-button>
      <app-button>
        Add to Wishlist
      </app-button>
      <app-button [routerLink]="['/product-view', product.id]"
      routerLinkActive="router-link-active">
        View Product
      </app-button>

    </div>
    }
    <!-- Overlay and Button -->
  </div>
</div>
