<section class="py-12 px-4 bg-gray-50">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold text-gray-800 mb-8">Shopping Cart</h1>

    <div class="flex flex-col lg:flex-row lg:space-x-8">
      <!-- Cart Items -->
      <div class="lg:w-3/4">
        <div class="bg-white shadow-lg rounded-lg p-4 mb-4">
          <div class="flex items-center">
            <img src="https://via.placeholder.com/100x100" alt="Product Image"
              class="w-24 h-24 object-cover rounded-lg">
            <div class="ml-4 flex-1">
              <h2 class="text-lg font-semibold text-gray-800">Product Name</h2>
              <p class="text-sm text-gray-600 mt-1">$25.00</p>
            </div>
            <div class="flex items-center space-x-2">
              <app-input [inputType]="'number'" [inputClases]="'w-16 text-center'"></app-input>

              <app-button>Remove</app-button>
            </div>
          </div>
        </div>

        <!-- Additional Cart Items... -->
      </div>

      <!-- Order Summary -->
      <div class="lg:w-1/4 bg-white shadow-lg rounded-lg p-4">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Order Summary</h2>
        <div class="text-sm flex justify-between text-gray-600 mb-2">
          <span>Subtotal</span>
          <span>$75.00</span>
        </div>
        <div class="text-sm flex justify-between text-gray-600 mb-2">
          <span>Shipping</span>
          <span>$10.00</span>
        </div>
        <div class="text-sm flex justify-between text-gray-600 mb-2">
          <span>Tax</span>
          <span>$5.00</span>
        </div>
        <div class="border-t border-gray-200 my-4"></div>
        <div class="flex justify-between text-gray-800 text-lg font-semibold">
          <span>Total</span>
          <span>$90.00</span>
        </div>
        <app-button [routerLink]="['/checkout']" [inputClasses]="'mt-6 w-full'">
          Proceed to Checkout
        </app-button>
      </div>
    </div>
  </div>
</section>
