<section class="relative bg-contain bg-no-repeat bg-center h-[450px] md:h-[550px]"
  style="background-image: url({{product.imageUrl}});">
  <div class="absolute inset-0 bg-black opacity-30"></div> <!-- Dark overlay -->

  <div class="container mx-auto h-full flex flex-col justify-around items-center text-center text-white relative z-10">
    <div>
      <h1 class="text-4xl md:text-6xl font-bold">Men's Undergarments</h1>
      <p class="text-xl md:text-2xl mt-4">Comfort and Style for Every Occasion</p>
    </div>
    <app-button [routerLink]="['/product-view', product.id]"
    routerLinkActive="router-link-active" [inputClasses]="'mt-8 '">
      Order Now
    </app-button>
  </div>
</section>
